<div class="row">
<% for (let k=0; k < skills.panels.length; k++) { %>
  <% if (k!== 0 && k%3 === 0) { %>
</div><!-- row !-->
<div class="row">
 <% } %>
  <%- include('./skills_panel.ejs', {panel: skills.panels[k]}) %>
<% } %>
</div><!-- row !-->
